{% extends "layout/layout.twig" %}

{% block adminpanel %}
{% endblock %}

{% block pagecontent %}
{#
    {% if form is defined %}
    <div class="container-fluid">
        <h4>Logg inn</h4>
        {{ form().openTag(form)|raw }}
            <div class="span4 "> {{ formRow(form.get('username'))|raw }}   </div>
            <div class="span4 "> {{ formRow(form.get('password'))|raw }} </div>
            <div class="span4 "> {{ formSubmit(form.get('submit'))|raw }} </div>
        {{ form().closeTag(form)|raw }}
    </div>
    {% endif %}

    {% if feedback is defined %}
        <h4>{{ feedback }}</h4>
    {% endif %}

<div class="container-fluid">
<!-- one liner -->
{% if form is defined %}
    <div class="container-fluid">
        {{ form().openTag(form)|raw }}
        {{ formCollection(form) }}
        {{ form().closeTag(form)|raw }}
    </div>
{% endif %}
#}

{#
{% if form is defined %}
    <div class="container-fluid">
        {{ form().openTag(form)|raw }}
        {{ formRow(form.get('username'))|raw }}
        {{ formRow(form.get('password'))|raw }}
        {{ formSubmit(form.get('submit'))|raw }}
        {{ form().closeTag(form)|raw }}
    </div>
{% endif %}
#}
<div class="container-fluid wrapper">
    <div class="span5">

    <form action="" method="post" name="login" class="form-inline" id="login">


        <form class="well">
            <label>Brukernavn</label>
            <input name="username" type="text" class="input span3" placeholder="Email" value="">
            <span class="help-inline">Associated help text!</span>
            <label class="checkbox">
                <input type="checkbox"> Husk
            </label>
            <button type="submit" class="btn">Submit</button>
        </form>
        - See more at: http://www.w3resource.com/twitter-bootstrap/forms-tutorial.php#sthash.wHGjFIRG.dpuf

        <input name="username" type="text" class="input" placeholder="Email" value="Anders">
        <input name="password" type="password" class="input" placeholder="Password" value="d0llar">
        <input name="submit" type="submit" id="submitbutton" class="btn" value="Logg inn">
    </form>
    </div>
    {% if feedback is defined %}
    <div class="offset1 span5">
    <p class="error">Følgende informasjon må rettes:</p>
    {{ feedback }}
    </div>
    {%  endif  %}
    <div class="pad25 hidden-desktop"></div>
</div>

{% endblock %}

{% block footer %}

    <div id="footer">
    <h1>get in touch</h1>
    <h3 class="center follow">
    We're social and we'd love to hear from you! Feel free to send us an email, find us on Google Plus, follow us on Twitter and join us on Facebook.</h3>

    <div class="follow_us">
        <a class="zocial twitter icon" href="#"></a>
        <a class="zocial facebook icon" href="#"></a>
        <a class="zocial linkedin icon" href="#"></a>
        <a class="zocial googleplus icon" href="#"></a>
    </div>
    </div>
    <div class="clearfix"></div>
    <div id="footer2">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="copyright">

                       Footer
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
